:root{
    --cor-fundo: #020b86 ;
    --cor-principal: rgba(37, 38, 39, 0.933) ;
    --cor-secundaria: #be080e ;
    --cor-destaque: #ffffff ;
    --cor-texto: #e6ff03 ;
}

body {
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.caixa-principal{
background-color: var(--cor-principal);
width: 90%;
text-align: center;
padding: 20px;
}

h1{
    color: var(--cor-destaque);
    
}